.footer-section {
  position: relative;
  left: 0;
  bottom: 0;
  font-family: Lato, sans-serif;
  width: 100%;
  background-color: rgb(29, 29, 29);
  box-sizing: border-box;
  z-index: 50;
}


footer a{
  text-decoration: none;
}

.border-top {
  border-top: rgb(54, 54, 54);
  border-top-style: solid;
  border-top-width: 1px;
  margin: 0 150 0 150;
}

.footer-layout {
  z-index: 51;
  display: flex;
  padding: 30 150 30 150;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer-content {
  flex-grow: 1;
  margin: 10px;
  width: 31%;
  flex-direction: row;
}

.title-footer {
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  color: white;
}

.title-footer-left {
  text-align: left;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 24px;
  font-weight: 600;
  color: white;
}

.caption-footer-center {
  margin-top: 20px;
  text-align: center;
  line-height:20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(151, 151, 151);
}


.caption-footer {
  width: 80%;
  margin-top: 20px;
  text-align: left;
  line-height:20px;
  font-size: 12px;
  letter-spacing: 1px;
  color: rgb(151, 151, 151);
}

/* Kanan */
.about-title {
  font-size: 13px;
  color: white;
  margin-top: 10px;
  margin-left: 30px;
}

.about-caption {
  font-size: 12px;
  color: rgb(151, 151, 151);
  margin-left: 30px;
  margin-top: 0;
  cursor: pointer;
  text-align: left;
}


/* Tengah */
/* Style the search field */
form{
  margin-left: 20px;
  margin-right: 20px;
}

form.example input[type=text] {
  padding: 12px;
  font-size: 12px;
  border: none;
  font-weight: bold;
  float: left;
  color: white;
  outline: none;
  width: 75%;
  background: #292929;
}

/* Style the submit button */
form.example button {
  float: left;
  background:none;
  color: white;
  font-size: 12px;
  outline: none;
  cursor: pointer;
  text-align: center;
  padding: 12px;
  background: #292929;
  width: 25%;
  border: none;
  cursor: pointer;
}

form.example button:hover{
  color: rgb(163, 163, 163);
  font-size: 12px;
}

.sosmed {
  margin-top: 50px;
  position: relative;
  width: 100%;
  text-align: center;
}


/* Kiri */
.logo-footer {
  width: 200px;
  height: auto;
}

.reward {
  font-size: 13px;
  color: white;
  margin-top: 40px;
}

.center-reward {
  margin-top: 10px;
  display: flex;
  cursor: pointer;
  align-items: flex-start;
}

.copyright {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: rgb(36, 36, 36);
  color: white;
  font-size: 13px;
  text-align: center;
}


