html {
  scroll-behavior: smooth;
}
h1 {
  text-align: center;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
  }

/*........................... Gallery .................................................... */
.gallery-section {
  width: 100%;
  z-index: -1;
  height: 200px;
  padding-top: 160px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
  url(../img/honai-breadcrumb.png);
  background-size: cover;
}

.row-breadcrumb {
    display: flex;
    justify-content: center;
}

/* Style the list */
ul.breadcrumb {
  padding: 0 16px;
  list-style: none;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 15px;
  box-sizing: border-box;
  color:white;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-decoration: none;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: white;
    content: ">\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    position: relative;
    margin: auto;
    color:white;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
    transition: ease-in-out;
    letter-spacing: 1px;
    font-weight: 400;
    text-decoration: none;
}

/* Add a color on mouse-over */
    ul.breadcrumb li a:hover {
    color: #BA9408;
    transition: all 0.5s ease-in-out;
    text-decoration: none;
}

.package-title {
  color: white;
  font-size: 50px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  box-sizing: border-box;
  text-align: center;
}

.gallery-container{
  position: relative;
    width: 100%;
    height: auto;
    background-color: white;
}

.gallery-layout{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
  }

  /* Create four equal columns that sits next to each other */
.column {
    flex: 16.6;
    max-width: 16.6%;
    padding-left: 7px;
    padding-right: 7px;
  }

.column img {
    vertical-align: middle;
    margin-bottom: 14px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.column img:hover {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(img/search-icon.png);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ... footer ... */
.footer-content {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background: black;
    opacity: 80%;
  }
  
  .content-about {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 30%;
    height: 200px;
    margin-left: 5%;
  }
  
  #about-title {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 24px;
  }
  
  #about-paragraph {
    text-align: center;
    margin: 40 70 0 70;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
  }
  
  .content-pesan {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 30%;
    height: 200px;
  }
  
  #pesan-title {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 24px;
  }
  
  .content-social {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    flex-basis: 50%;
    flex-shrink: 0;
    max-width: 30%;
    height: 200px;
    margin-right: 5%;
  }
  
  #social-title {
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 24px;
  }
  
  .footer-bottom {
    width: 100%;
    height: 20px;
    color: #adadad;
    background: black;
    text-align: center;
  }

  .modal {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
  }

  .modal-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.9);
    cursor: pointer;
  }

  .modal .btn-close-modal {
    position: absolute;
    top: 12px;
    right: 12px;
    background: none;
    outline: none;
    border: none;
    color: white;
    font-size: 40px;
    cursor: pointer;
  }

  .modal .modal-content {
    position: relative;
    max-width: 900px;
  }
  
  .modal .modal-content .img-modal {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  .modal.modal-show {
    visibility: visible;
    opacity: 1;
  }

  /* ... footer ... */
.footer-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: black;
  opacity: 80%;
}

.content-about {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
  margin-left: 5%;
}

#about-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

#about-paragraph {
  text-align: center;
  margin: 40 70 0 70;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
}

.content-pesan {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
}

#pesan-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

.content-social {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
  margin-right: 5%;
}

#social-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

.footer-bottom {
  width: 100%;
  height: 20px;
  color: #adadad;
  background: black;
  text-align: center;
}