html {
  scroll-behavior: smooth;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: rgb(214, 214, 214);
}

/* ... page carousel ... */
#carousel {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.slidershow {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #ffffff;
  margin: 6px;
  cursor: pointer;
}

.bar:hover {
  background: white;
}

input[name="r"] {
  position: absolute;
  visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  padding: 0 24px;
  box-sizing: border-box;
  transition: 0.6s;
}

.s1 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/Design.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.s2 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/people.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.s3 {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/retreat.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.carousel-title {
  color: white;
  font-size: 89px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 400;
  opacity: 50%;
}

.carousel-paragraph {
  margin: 0 500px;
  line-height: 32px;
  color: white;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  /*font-weight: 400;*/
  /*background: rgba(0, 0, 0, 0.3);*/
  width: 600px;
}

#r1:checked~.slides .s1 {
  margin-left: 0;
}

#r2:checked~.slides .s1 {
  margin-left: -20%;
}

#r3:checked~.slides .s1 {
  margin-left: -40%;
}

#r4:checked~.slides .s1 {
  margin-left: -60%;
}

#r1:checked~.navigation .bar:nth-child(1),
#r2:checked~.navigation .bar:nth-child(2),
#r3:checked~.navigation .bar:nth-child(3),
#r4:checked~.navigation .bar:nth-child(4) {
  background: white;
}

/* ... section body ... */
#section-body {
  margin-top: 100vh;
  background: white;
  width: 100%;
}

#body-title {
  color: black;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 135px;
  box-sizing: border-box;
}

#body-text {
  position: relative;
  width: 55%;
  margin: auto;
  line-height: 32px;
  color: #454545;
  padding: 24 24 135 24;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

/* ... section 1 ... */
#section1 {
  width: 100%;
  background: white;
  display: inline-block;
}

.container {
  position: relative;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/bg-body.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.layout:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background-size: cover;
  background-position: 50% 50%;
  transition: all 0.3s ease-in-out;
}

.layout {
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 50%;
  height: 400px;
}

.layout:nth-child(1):hover:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/room.jpg);
}

.layout:nth-child(2):hover:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/a.jpg);
}

.layout:nth-child(3):hover:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/coffee.jpg);
}

.layout:nth-child(4):hover:before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(../img/darbha-spa.jpg);
}

.layout:hover:before {
  opacity: 1;
  visibility: visible;
}

.layout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-right: 1px solid white;
  border-top: 1px solid white;
  z-index: 1;
  color: white;
  padding: 24px;
  box-sizing: border-box;
}

.layout-title {
  color: white;
  font-size: 36px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 12px;
  transition: font-size 0.3s ease-in-out;
  font-weight: 400;
}

.layout-content:hover .layout-title {
  font-size: 32px;
}

.layout-subtitle {
  transform: translateY(50px);
  overflow: hidden;
  color: white;
  height: 0;
  font-size: 32px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 12px;
  transition: font-size 0.3s ease-in-out;
  font-weight: 400;
}

.layout-content:hover .layout-subtitle {
  height: 100px;
  transform: translateY(0px);
}

.layout-content:hover .layout-title {
  overflow: hidden;
  transition: font-size 0.3s ease-in-out;
  height: 0;
}

.layout-paragraph {
  margin: 0 160px;
  line-height: 32px;
  color: #eeeeee;
  height: 0;
  width: 500px;
  transform: translateY(100px);
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  background: rgba(0, 0, 0, 0.5);
}

.layout-content:hover .layout-paragraph {
  height: 200px;
  transform: translateY(0px);
}

.link {
  text-decoration: none;
}

/* ...  section 2 ... */
#section2 {
  width: 100%;
  height: 600px;
  display: inline-block;
}

#section2-title {
  color: black;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 135px;
  box-sizing: border-box;
}

#section2-text {
  position: relative;
  width: 40%;
  margin: auto;
  line-height: 32px;
  color: #454545;
  padding: 24 24 135 24;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.section2-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  box-sizing: border-box;
  padding: 0 50;
}

#section2-foto-title {
  color: gray;
  text-align: center;
  font-size: 16px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 25px;
  box-sizing: border-box;
}

#section2-foto-kata {
  color: black;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  box-sizing: border-box;
}

#line {
  border-top: 1.3px solid black;
  width: 20px;
  margin: auto;
  margin-top: 20px;
}

.section2-layout {
  position: center;
  flex-basis: 33%;
  flex-shrink: 0;
  max-width: 33%;
  height: 500px;
  padding: 0 20;
  box-sizing: border-box;
}

.section2-layout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  color: white;
  box-sizing: border-box;
}

.section2-layout-content img {
  transition: transform 1s ease;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section2-layout-content:hover img {
  transform: scale(1.1);
}

.foto-section2 {
  width: 50%;
  height: 100px;
  object-fit: cover;
  border: 1px solid red;
}

.text-title-section2 {
  text-align: center;
  width: 100%;
  padding: 10px 20px;
}

/* ... section 3 ... */
#section3 {
  border-top: solid black 5px;
  border-bottom: solid black 5px;
  width: 100%;
  height: 700px;
  display: inline-block;
  width: 100%;
}

#section3-title {
  color: black;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 135px;
  box-sizing: border-box;
}

#section3-text {
  position: relative;
  width: 40%;
  margin: auto;
  line-height: 32px;
  color: #454545;
  padding: 24 24 135 24;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

/* ... section 4 ... */
#section4 {
  width: 100%;
  height: 700px;
  display: inline-block;
}

#section4-title {
  color: black;
  font-size: 42px;
  letter-spacing: 1px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  padding-top: 135px;
  box-sizing: border-box;
}

#section4-text {
  position: relative;
  width: 40%;
  margin: auto;
  line-height: 32px;
  color: #454545;
  padding: 24 24 135 24;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
}

.section4-container {
  position: relative;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background-size: cover;
  background-position: 50% 50%;
}

.section4-layout {
  position: center;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 50%;
  height: 300px;
  padding: 5px;
  box-sizing: border-box;
}

.section4-layout-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  color: white;
  box-sizing: border-box;
}

.section4-layout-content img {
  transition: all 1s ease-in-out;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section4-layout-content:hover img {
  transform: scale(1.1);
  filter: brightness(0.4);
  transition: all 0.5s ease-in-out;
}

.section4-layout-content:hover .overlay {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
}

.gallery-title {
  font-size: 35px;
  color: #ffff;
  font-weight: 300;
  height: 0;
  transform: translateY(100px);
  text-align: center;
}

.gallery-subtitle {
  font-size: 15px;
  color: #ffff;
  font-weight: 300;
  margin-top: 50px;
  transform: translateY(100px);
  text-align: center;
}

#line2 {
  border-top: 1.3px solid white;
  width: 20px;
  margin: auto;
  margin-top: 110px;
}

/* ... footer ... */
.footer-content {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  background: black;
  opacity: 80%;
}

.content-about {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
  margin-left: 5%;
}

#about-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

#about-paragraph {
  text-align: center;
  margin: 40 70 0 70;
  box-sizing: border-box;
  color: white;
  font-size: 14px;
}

.content-pesan {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
}

#pesan-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

.content-social {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  flex-basis: 50%;
  flex-shrink: 0;
  max-width: 30%;
  height: 200px;
  margin-right: 5%;
}

#social-title {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 24px;
}

.footer-bottom {
  width: 100%;
  height: 20px;
  color: #adadad;
  background: black;
  text-align: center;
}