.logo {
  width: 200px;
  margin: auto;
  transition: all 0.4s ease-in-out;
}


/* Add a black background color to the top navigation */
#nav {
  position: absolute;
  width: 100%;
  justify-content: center;
  z-index: 999;
  font-family: Lato, sans-serif;
  transition: all 0.4s ease-in-out;
}

a {
  text-decoration: none;
}

.topnav {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  padding: 25;
}

/* tengah */
.topnav-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
}

/* kanan */
.topnav-right {
  float: right;
  display: flex;
  align-items: center;
}

.checkin-text {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  color:white;
  letter-spacing: 1px;
  font-weight: 500;
}

.checkin-text:hover {
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  text-decoration: none;
  color:white;
  transition: all 0.5s ease-in-out;
}

.book-btn {
  letter-spacing: 2px;
  text-align: center;
  font-size: 14px;
  padding: 14;
  text-transform: uppercase;
  transition: all 0.5s;
  font-family: Lato, sans-serif;
  cursor: pointer;
  font-weight: 700;
  outline: none;
  margin-left: 20px;
  background: none;
  border: white 1px solid;
  color: white;
}

.book-btn:hover {
  margin-right: 10px;
  background: #b19d53;
  border: #b19d53 1px solid;
  color: white;
  box-shadow: 0 0 15px #00000023;
}


/* kiri */
.topnav-left {
  float: left;
  display: flex;
  align-items: center;
}

.openbtn {
  font-size: 28px;
  cursor: pointer;
  color: white;
  background: none;
  outline: none;
  margin-top: 2px;
  transition: all 0.5s ease-in-out;
  border: none;
}

.openbtn:hover {
  transform: rotate(90deg);
  font-size: 28px;
  transition: all 0.5s ease-in-out;
  margin-top: 5px;
  color:white;
}

/* sidebar */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: none;
  color: #818181;
  transition: 0.3s;
}

.closebtn:hover {
  transform: rotate(90deg);
  cursor: pointer;
  color: white;
}

.sidebar-text {
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 10 0 0 40;
  font-weight: normal;
  text-align: left;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar-text.active {
  color: white;
}

.sidebar-text.active::after {
  content: '';
  display: block;
  width: 20%;
  height: 2px;
  margin-top: 10px;
  background: #b19d53;
  transition: width .3s;
}

.sidebar-text:hover {
  color: white;
  margin-left: 10px;
}

.sidebar-text::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  margin-top: 10px;
  background: white;
  transition: width .3s;
}

.sidebar-text:hover::after {
  width: 20%;
}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}