html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family: Lato, sans-serif;
}

p {
    font-family: Lato, sans-serif;

}

.link {
    text-decoration: none;
}

ul {
    padding-inline-start: 15px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
}

.text-layout {
    width: 100%;
    box-sizing: border-box;
    padding: 130 0 30 0;
}

.title {
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #6b6b6b;
    text-align: left;
}

.sub-title {
    color: #1d1d1d;
    font-size: 54px;
    letter-spacing: 3px;
    margin-top: 5px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: lighter;
    box-sizing: border-box;
    margin-block-end: 12px;
    width: 60%;
}

.sub-title::after {
    content: '';
    display: block;
    width: 5%;
    height: 2px;
    margin-left: 3px;
    margin-top: 20px;
    background: #b19d53;
    transition: width .3s;
}

.sub-title:hover::after {
    width: 15%;
}

.caption {
    position: relative;
    width: 60%;
    line-height: 32px;
    color: #696969;
    padding: 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    margin-top: 0;
    letter-spacing: 1px;
    font-weight: 400;
}

.canvas {
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    padding: 0 180;
    position: relative;
    margin: auto;
}

.row {
    display: flex;
    gap: 40px;
    justify-content: center;
    max-width: 100%;
    padding-bottom: 80px;
    align-content: flex-start; 
}

.col {
    width: 49%;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: auto;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.slideshow-container {
    position: relative;
}

.foto {
    width: 100%;
    background-size: cover;
    height: 200px;
    overflow: hidden;
    cursor: context-menu;
}

img {
    max-height: 100%;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
    cursor: context-menu;
    object-fit: cover;
}


.foto:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

/* big previous & next buttons */
.flickity-prev-next-button {
    display: none;
}

.flickity-page-dots {
  display: none;
}

.overlay {
    height: auto;
    box-sizing: border-box;
    padding: 40 40 100 40;
}

.package-title {
    font-size: 14px;
    color: #5c5c5c;
    margin-right: 5px;
    letter-spacing: 1px;
    display: inline;
    text-transform: uppercase;
    font-weight: 500;
}

.harga {
    font-size: 14px;
    color: #b19d53;
    display: inline;
    font-weight: normal;
}

.package-name {
    font-size: 42px;
    width: 100%;
    color: #1d1d1d;
    line-height: 40px;
    font-weight: bold;
    margin-top: 10px;
    font-weight: normal;
    margin-bottom: 0;
}

.person{
    font-size: 16px;
    width: 100%;
    color: #3a3a3a;
    font-weight: bold;
    margin-left: 3px;
    letter-spacing: 1px;
    margin-top: 15px;
    font-weight: normal;
    margin-bottom: 0;
}

.package-name::after {
    content: '';
    display: block;
    width: 5%;
    height: 2px;
    margin-left: 3px;
    margin-top: 15px;
    margin-bottom: 15px;
    background: #b19d53;
    transition: width .3s;
}

.package-name:hover::after {
    width: 10%;
}

.row-inclusion{
    display: flex;
    box-sizing: border-box;
    margin-left: 20px;
    
}
.col-inclusion{
    width: 49%;
}

.desc-package {
    width: 100%;
    font-size: 12px;
    color: #696969;
    display: inline;
    line-height: 20px;
    list-style-type:square;
    margin-left: 0;
    letter-spacing: 1px;
    font-weight: normal;
    text-transform: capitalize;
}

li{
    width: 100%;
}

.button {
    border: none;
    color: white;
    padding: 10px;
    outline: none;
    margin-top: 30px;
    float: right;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    font-weight: bold;
    background-color: white;
    color: #b19d53;
    border: 1px solid #b19d53;
    font-size: 12px;
    transition: all 0.5s;
}

.button:hover {
    background-color: #b19d53;
    margin-right: 7px;
    color: white;
}