html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
    font-family: Lato, sans-serif;
}

p {
    font-family: Lato, sans-serif;
}

.link {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    transition: backgroundColor .5s;
}

.canvas {
    width: 100%;
    padding-top: 40px;
    background-color: white;
    box-sizing: border-box;
}

.column-atas {
    width: 100%;
}

.row {
    display: flex;
}

/* text layout */
.text-layout {
    width: 100%;
    padding: 100 0 100 100;
}

.title {
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    color: #6b6b6b;
    text-align: left;
}

.sub-title {
    color: #1d1d1d;
    font-size: 42px;
    letter-spacing: 3px;
    margin-top: 5px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 10px;
    font-weight: lighter;
    box-sizing: border-box;
}

.sub-title::after {
    content: '';
    display: block;
    width: 5%;
    height: 2px;
    margin-left: 3px;
    margin-top: 20px;
    background: #b19d53;
    transition: width .3s;
}

.sub-title:hover::after {
    width: 10%;
}

.caption {
    position: relative;
    width: 60%;
    line-height: 32px;
    color: #696969;
    padding: 8 0;
    box-sizing: border-box;
    text-align: left;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
}

.button {
    border: none;
    margin: auto;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-width: thin;
    background-color: #b19d53;
    color: white;
    display: inline-block;
    font-size: 12px;
    transition: all 0.5s;
}

.button:hover {
    background-color: white;
    color: #b19d53;
    border: 1px solid #b19d53;
}

/* slideshow */
.gallery {
    background: whitesmoke;
    margin: 100 100 50 0;
}

.gallery-cell {
    width: 70%;
    height: 400px;
    background-size: cover;
    margin-right: 10px;
    overflow: hidden;
}

.gallery-cell:before {
    display: block;
    color: white;
}

img {
    max-height: 100%;
    min-width: 100%;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    object-fit: cover;
}

.gallery-cell:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
}

.flickity-button {
    display: none;
 }


/* bawah section */
.section-kedua {
    box-sizing: border-box;
}

.row-other {
    margin: 0 50 50 50;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: space-between;
}

.other-layout {
    width: 32%;
}

.foto {
    width: 100%;
    background-size: cover;
    height: 300px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.foto:hover img {
    transform: scale(1.02);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}

.overlay-left {
    width: 70%;
    height: 300px;
    float: left;
    background-color: #000000a6;
    position: absolute;
    z-index: 1;
}

.text-layout-other {
    width: 100%;
    padding: 40px;
    
}

.title-other {
    font-size: 12px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    color: white;
}

.sub-title-other {
    color: white;
    width: 50%;
    vertical-align: bottom;
    font-size: 32px;
    text-align: left;
    margin-top: 0;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: lighter;
}

.sub-title-other::after {
    content: '';
    display: block;
    width: 60px;
    height: 1px;
    margin-top: 15px;
    background: white;
    transition: width .3s;
}


.border-bottom{
    border-bottom: rgb(226, 226, 226);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    margin: 60 100 120 100;
}
